h1 {
    font-size: 30px;
}




body {
    background-image: url(bg.jpg);
}

.container {
    background: #CDB962;
    margin: auto;
    width: 300px;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}

.container2 {
    background: #CDB962;
    margin: auto;
    width: 400px;
    text-align: left;
    padding: 10px;
    padding-bottom: 20px;
}

#submit {
    width: 220px;
}